<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://">


<hibernate-configuration>
	<session-factory>
		<property name="hibenate.connection.url">
			jdbc:oracle:thin:@192.168.56.101:1521:xe
		</property>
		<property name="hibenate.connection.username">zoo</property>
		<property name="hibenate.connection.password">password</property>
		<property name="hibenate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibenate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
	</session-factory>
	
	
	<mapping resource="User.hbm.xml"></mapping>
	<mapping class="com.revature.model.Employee"></mapping>
</hibernate-configuration>